* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Work Sans", sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #fafafa;
}

.my-container {
    width: 100%;
}

.upper-nav {
    background-color: #d5d4d4;
    height: 8vh;
}

.wrapper {
    margin: 5vh 2vw 2vh 2vw;
    height: 75vh;
    position: relative;
    border: 2px dashed #c2cdda;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper.active {
    border: none;
}

.wrapper .img {
    position: absolute;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    height: 80vh;
}

.wrapper .icon {
    font-size: 100px;
    color: #9658fe;
}

.wrapper .text {
    font-size: 25px;
    font-weight: 500;
    color: #58587b;
}

#custom-btn {
    margin: auto;
    width: 40%;
    height: 8vh;
    border: none;
    display: block;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    background: #9658fe;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.right-sec {
    width: 35%;
    background-color: #18161e;
}

.logo {
    font-family: 'Grandstander', cursive;
    font-size: 3em;
    color: #d5d4d4;
    text-align: center;
    margin-bottom: 1em;
}

.fontButtons {
    font-size: 1.5em;
    color: #d5d4d4;
    border-bottom: 1px solid #3b3b3b;
    padding: .5em 1em;
    cursor: pointer;
}

.inputSect {
    display: none;
    margin-top: 10px;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.label {
    font-size: 20px;
    margin-bottom: .5em;
}

.input {
    font-size: 20px;
    height: 1.25em;
    width: 6em;
}

.btn {
    border: none;
    font-size: .75em;
    padding: .25em;
    margin-left: 80%;
    width: 20%;
    border-radius: 5px;
    background: transparent;
    color: #d5d4d4;
    border: 1px solid #d5d4d4;
}

.saveBtn {
    font-size: 20px;
    width: 80%;
    margin: 20px;
    text-transform: uppercase;
}